@value variables: './variables.css';
@value AppBg from variables;

html, body {
  height: 100%;
  background-color: AppBg;
}

.pageContainer {
  margin: 0 auto;
}

@media only screen and (min-width: 980px) {
  .pageContainer {
    width: 980px;
  }
}

